{{ define "main" }}
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            {{ .Content }}
            <!-- modify this form HTML and place wherever you want your form -->
            <form
              action="https://formspree.io/f/xgejqybe"
              method="POST"
            >
              <label>
                Your email:
                <input type="email" name="email">
              </label>
              <label>
                Your message:
                <textarea name="message"></textarea>
              </label>
              <!-- your other form fields go here -->
              <button type="submit">Send</button>
            </form>
        </div>
    </div>
</div>
{{ end }}

