<div class="form">
    <div>
            <form
                action="https://formspree.io/f/xgejqybe"
                method="POST">
                <div>
                  <div>
                  <label>
                    Email:
                    <input type="email" name="email">
                  </label>
                  </div>
                  <br>
                  <br>
                  <br>
                <span>
                  <label>
                    Message:
                    <textarea name="message"></textarea>
                  </label>
                </span>
                 <br>
                  <br>
                  <br>
                <span>
                <!-- your other form fields go here -->
                <button type="submit">Envoyer</button>
                </span>
              </div>
            </form>
                  <br>
                  <br>
                  <hr>
      </div>
  </div>

  
