<br>
  <div id="search-box"><!-- SearchBox widget will appear here --></div>
  <!-- include algolia logo -->
  <!-- <img src="https://www.algolia.com/static_assets/images/pricing/pricing_new/algolia-powered-by-14773f38.svg"></img> -->

  <div id="hits" class="my-4">
    <!-- Hits widget will appear here -->
  </div>

  <!--<div id="pagination">
    <!-- Pagination widget will appear here -->
  <!-- </div> -->

 <title>Instantsearch</title>
  <script src="https://cdn.jsdelivr.net/npm//instantsearch.js@2.10,1"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/instantsearch.js@2.8.1/dist/instantsearch.min.css"/>
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/instantsearch.js@2.8.1/dist/instantsearch-theme-algolia.min.css"/>
  <link rel="stylesheet" type="text/css" href="style.css">

  <script src="app.js"></script>


<!-- <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/instantsearch.js@2.7.1/dist/instantsearch.min.css">
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/instantsearch.js@2.7.1/dist/instantsearch-theme-algolia.min.css"> -->

<script src="https://cdn.jsdelivr.net/npm/instantsearch.js@2.7.1">
</script>

<script>
  // set alogolia options
  const search = instantsearch({
    appId: '5W6X0K9ES3',
    apiKey: '256981be0d6a3f638d9ad15bdfa0f43c',
    indexName: 'ASindex',
    urlSync: true
  });

  search.addWidget(
    instantsearch.widgets.searchBox({
      container: '#search-box',
      placeholder: 'Search'
    })
  );
  search.start();
</script>



