<!doctype html>
<html>

<head>
  <title>Instantsearch</title>
  <script src="https://cdn.jsdelivr.net/npm//instantsearch.js@2.10,1"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/instantsearch.js@2.8.1/dist/instantsearch.min.css"/>
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/instantsearch.js@2.8.1/dist/instantsearch-theme-algolia.min.css"/>
  <link rel="stylesheet" type="text/css" href="style.css">
</head>


<body>
  <div> id="test-widget"</div>
  <script src="app.js"></script>
</body>

</html>


